{% extends "base.html" %}
{% load static %}
{% block cssList %}
{{ block.super }}



<link href="{% static 'indexcss/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'indexcss/datatable.css' %}" rel="stylesheet">
<link href="{% static 'indexcss/fixedcolumn.css' %}" rel="stylesheet">


{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <table class="table table-striped"
               id="tableKiralama">

        <thead>
          <tr>
            <th>IHA</th>
            <th>ÜYE</th>
            <th>Veriliş Tarihi</th>
            <th>Veriliş Saati</th>
            <th>Alış Tarihi</th>
            <th>Alış Saati</th>
            <th>İşlemler</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
         <tr>
            <th><p>IHA</p></th>
            <th><p>ÜYE</p></th>
            <th>Veriliş Tarihi</th>
            <th>Veriliş Saati</th>
            <th>Alış Tarihi</th>
            <th>Alış Saati</th>
            <th>İşlemler</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>



{% endblock %}


{% block jsList %}
{{ block.super }}
<link href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/auto-refresh/bootstrap-table-auto-refresh.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"></script>
<script>

$(document).ready(function() {
      $('#tableKiralama tfoot th p').each(function () {
        var title = $(this).text();
        $(this).html('<input style="width:100%" type="text" placeholder="' + title + '" />');
    });

      var table = $('#tableKiralama').DataTable({
        initComplete: function () {
            // Apply the search
            this.api()
                .columns()
                .every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that.search(this.value).draw();
                            console.log("search:", this.value )
                        }
                    });
                });
        },

        "ajax": "/api/kiralama/",
        processing: true,
        serverSide: true,
        "columns": [

            {"data": "iha_string"},
            {"data": "uye_string"},
            {"data": "vtarihi"},
            {"data": "vsaati"},
            {"data": "atarihi"},
            {"data": "asaati"},
            {
                "data": "actions",

                "render" : function(value, type, row){
                    return func_actions(row, value);
                    }
            }],
      });
    function loadingTemplate(message) {
      return '<i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>LOADING...'
    }

    $('#ihaDate').datetimepicker({
      format: 'DD-MM-YYYY',
      defaultDate: moment()
    });

    $('#ihaTime').datetimepicker({
      format: 'HH:mm',
      defaultDate: moment()
    });

    $('#ihaDateA').datetimepicker({
      format: 'DD-MM-YYYY',
      defaultDate: moment()
    });

    $('#ihaTimeA').datetimepicker({
      format: 'HH:mm',
      defaultDate: moment()
    });

});



    function ajaxRequest(params) {
      console.log("params:", params)
      var url = '/api/kiralama/'
      $.get(url + '?' + $.param(params.data)).then(function(res) {
        params.success(res)
      })
    }

    function func_actions(row, value) {
      var html = '';
      for (var i = 0; i < value.length; i++) {
        if (value[i] == xedit) {
          html += '<button type="button" onClick="func_editRent(this)" class="btn btn-info btn-sm m-2" id="btn_editIha" tablo_id="' + row.id + '" title="Düzenle"><i class="far fa-edit"></i></button>'
        }
        if (value[i] == xdelete) {
          html += '<button type="button" onClick="func_delRent(this)" class="btn btn-danger btn-sm m-2" id="btn_delIha" tablo_id="' + row.id + '" title="Sil"><i class="fas fa-times red" style="color:#FFFFFF;"></i></button>'
        }

      }
      return html;
    }



    function func_editRent(item){
      var button = $(item);
      var tablo_id = button.attr("tablo_id");

      $.ajax({
          type: "GET",
          url: '/api/kiralama/'+ tablo_id,
          success: function (data) {

            document.forms["formIhaRent"]["action"].value = "UPDATE";
            document.forms["formIhaRent"]["uye"].value = data.uye;
            document.forms["formIhaRent"]["atarihi"].value = data.atarihi;
            document.forms["formIhaRent"]["asaati"].value = data.asaati;
            document.forms["formIhaRent"]["vtarihi"].value = data.vtarihi;
            document.forms["formIhaRent"]["vsaati"].value = data.vsaati;
            document.forms["formIhaRent"]["iha"].value = data.iha;
            document.forms["formIhaRent"]["id"].value = data.id;
            },
            error: function (error) {
                console.log(error);
                Toast.fire({icon: 'error', title: "ERROR :".concat(error)})
            }
        })
        $("#ihaRentModal").modal('show');
    }

    function func_ihaRentModal_save(item){

      var formData = $('#formIhaRent').serialize();
      var id = document.forms["formIhaRent"]["id"].value;

      var type = "PUT"
      var path = id + "/";

      $.ajax({
        type: type,
        url: '/api/kiralama/' + path,
        data: formData,
        headers: {
          "Authorization": "Token {{ request.session.token }} ",
        },
        success: function(msg) {

          $('#tableKiralama').DataTable().ajax.reload();
          console.log($('#tableKiralama').DataTable())
          $("#ihaRentModal").modal('hide');
          Toast.fire({
            icon: 'success',
            title: 'Kiralama güncellendi.'
          })
        },
        error: function(error) {
          Toast.fire({
            icon: 'error',
            title: "ERROR :".concat(error)
          })
        }
      });
    }

    function func_delRent(item) {
      var r = confirm("Silinsin mi?");
      if (r == true) {
        $.ajax({
          type: "DELETE",
          url: '/api/kiralama/' + $(item).attr("tablo_id"),
          headers: {
            "Authorization": "Token {{ request.session.token }} ",
          },
          success: function(msg) {
             $('#tableKiralama').DataTable().ajax.reload();
            Toast.fire({
              icon: 'success',
              title: 'Silindi.'
            })
          },
          error: function(error) {
            Toast.fire({
              icon: 'error',
              title: "ERROR :".concat(error)
            })
          }
        });
      }
    }




</script>

{% endblock %}