{% extends "base.html" %}


{% block content %}

  <div class="row">
    <div class="col-12">
      <table class="table table-striped"
               id="tableKiralama"
               data-toggle="table"
               data-ajax="ajaxRequest"
               data-search="true"
               data-side-pagination="server"
               data-pagination="true"
               data-page-size="3"
               data-loading-template="loadingTemplate"
               data-pagination-parts=['pageList']
               data-auto-refresh="true"
               data-show-refresh="true"
      >

        <thead>
          <tr>
            <th data-field="iha_string">IHA</th>
            <th data-field="uye_string">ÜYE</th>
            <th data-field="vtarihi" >Veriliş Tarihi</th>
            <th data-field="vsaati" >Veriliş Saati</th>
            <th data-field="atarihi" >Alış Tarihi</th>
            <th data-field="asaati" >Alış Saati</th>
            <th data-field="actions" data-formatter="func_actions">İşlemler</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>



{% endblock %}


{% block jsList %}
{{ block.super }}
<link href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/auto-refresh/bootstrap-table-auto-refresh.min.js"></script>
<script>
    function loadingTemplate(message) {
      return '<i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>LOADING...'
    }

    $('#ihaDate').datetimepicker({
      format: 'DD-MM-YYYY',
      defaultDate: moment()
    });

    $('#ihaTime').datetimepicker({
      format: 'HH:mm',
      defaultDate: moment()
    });

    $('#ihaDateA').datetimepicker({
      format: 'DD-MM-YYYY',
      defaultDate: moment()
    });

    $('#ihaTimeA').datetimepicker({
      format: 'HH:mm',
      defaultDate: moment()
    });

    var table = $('#tableIha')

    function ajaxRequest(params) {
      console.log("params:", params)
      var url = '/api/kiralama/'
      $.get(url + '?' + $.param(params.data)).then(function(res) {
        params.success(res)
      })
    }

    function func_actions(value, row) {
      var html = '';
      for (var i = 0; i < value.length; i++) {
        if (value[i] == xedit) {
          html += '<button type="button" onClick="func_editRent(this)" class="btn btn-info btn-sm m-2" id="btn_editIha" tablo_id="' + row.id + '" title="Düzenle"><i class="far fa-edit"></i></button>'
        }
        if (value[i] == xdelete) {
          html += '<button type="button" onClick="func_delRent(this)" class="btn btn-danger btn-sm m-2" id="btn_delIha" tablo_id="' + row.id + '" title="Sil"><i class="fas fa-times red" style="color:#FFFFFF;"></i></button>'
        }

      }
      return html;
    }



    function func_editRent(item){
      var button = $(item);
      var tablo_id = button.attr("tablo_id");

      $.ajax({
          type: "GET",
          url: '/api/kiralama/'+ tablo_id,
          success: function (data) {

            document.forms["formIhaRent"]["action"].value = "UPDATE";
            document.forms["formIhaRent"]["uye"].value = data.uye;
            document.forms["formIhaRent"]["atarihi"].value = data.atarihi;
            document.forms["formIhaRent"]["asaati"].value = data.asaati;
            document.forms["formIhaRent"]["vtarihi"].value = data.vtarihi;
            document.forms["formIhaRent"]["vsaati"].value = data.vsaati;
            document.forms["formIhaRent"]["iha"].value = data.iha;
            document.forms["formIhaRent"]["id"].value = data.id;
            },
            error: function (error) {
                console.log(error);
                Toast.fire({icon: 'error', title: "ERROR :".concat(error)})
            }
        })
        $("#ihaRentModal").modal('show');
    }

    function func_ihaModal_save(item){

      var action = document.forms["formIha"]["action"].value;
      var id = document.forms["formIha"]["id"].value
      var formData = $('#formIha').serialize();

      if (action == "INSERT") {
        var type = "POST";
        var path = "";
      } else {
        var type = "PUT"
        var path = id + "/";
      }

      $.ajax({
        type: type,
        url: '/api/iha/' + path,
        data: formData,
        headers: {
          "Authorization": "Token {{ request.session.token }} ",
        },
        success: function(msg) {

          table.bootstrapTable('refresh');
          $("#ihaModal").modal('hide');
          Toast.fire({
            icon: 'success',
            title: 'Kaydedildi.'
          })
        },
        error: function(error) {
          Toast.fire({
            icon: 'error',
            title: "ERROR :".concat(error)
          })
        }
      });
    }

    function func_delIha(item) {
      var r = confirm("Silinsin mi?");
      if (r == true) {
        $.ajax({
          type: "DELETE",
          url: '/api/iha/' + $(item).attr("tablo_id"),
          headers: {
            "Authorization": "Token {{ request.session.token }} ",
          },
          success: function(msg) {
            table.bootstrapTable('refresh');
            Toast.fire({
              icon: 'success',
              title: 'Silindi.'
            })
          },
          error: function(error) {
            Toast.fire({
              icon: 'error',
              title: "ERROR :".concat(error)
            })
          }
        });
      }
    }

    function func_rentIha(item){
      $("#ihaRentModal").modal('show');
    }

    function func_ihaRentModal_save(item){
      var formData = $('#formIhaRent').serialize();
//      var xdate = new Date(document.forms["formIhaRent"]["vtarihi"].value);
      var xdate = $("#ihaDate").data("datetimepicker");
      var uye = document.forms["formIhaRent"]["uye"].value;
      var iha = document.forms["formIhaRent"]["iha"].value;
      console.log(xdate)
      console.log(typeof xdate)
/*
      var data = {}
      data["vtarihi"] = xdate.toISOString();
      data["uye"] = uye;
      data["iha"] = iha;


      $.ajax({
        type: "POST",
        url: '/api/kiralama/',
        data: data,
        headers: {
          "Authorization": "Token {{ request.session.token }} ",
        },
        success: function(msg) {

          table.bootstrapTable('refresh');
          $("#ihaRentModal").modal('hide');
          Toast.fire({
            icon: 'success',
            title: 'Kiralama tanımlandı.'
          })
        },
        error: function(error) {
          Toast.fire({
            icon: 'error',
            title: "ERROR :".concat(error)
          })
        }
      });
      */
    }


</script>

{% endblock %}